# Node modules
node_modules/

# Log files
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env

# Build or temporary files
dist/
tmp/
*.tmp

# Editor folders
.vscode/
.idea/
.DS_Store
