# Node.js - backend
/backend/node_modules/
/backend/.env
/backend/.DS_Store
/backend/npm-debug.log
/backend/.cache
/backend/dist
/backend/.next
/backend/.turbo

# React - frontend
/frontend/node_modules/
/frontend/build/
/frontend/dist/
/frontend/.DS_Store
/frontend/.env
/frontend/npm-debug.log
/frontend/.cache

# Logs
*.log
logs
*.log.*
npm-debug.log*

# System
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo

# macOS specific
__MACOSX
dist/
